body {
    background:rgb(229, 235, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    background: rgb(236, 224, 208);
    display: flex;
    justify-content: center;
    align-items: center;
}